*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #dc143c;
}
  

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(7, 7, 20);
}

/* graypart */

.graypart{
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
}

.graypart::before,.graypart::after{
    content: "";
    background: #ccc;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
}

.graypart::before{
    top: -50px;
    left: 0;
}

.graypart::after{
    left: 50px;
    top: 0;
}

.redpart{
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: rotate(-45deg);
    visibility: hidden;
}

.redpart::before,.redpart::after{
    content: "";
    background: var(--main-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;

}

.redpart::before{
    top: -50px;
    left: 0;
}

.redpart::after{
    left: 50px;
    top:0;
}

.redpart.animation{
    animation: pop 0.9s linear;
    visibility: visible;
}

.redpart.fill-color{
    background: var(--main-color);
}

@keyframes pop{
    100%{
        transform: scale(1.7) rotate(-45deg);
        opacity: 0;
    }
}
